name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Get MSRV
      run: echo "MSRV=$(grep 'rust-version' Cargo.toml | sed 's/.*"\(.*\)"/\1/')" >> $GITHUB_ENV
    - name: Setup Rust toolchain (MSRV)
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: ${{ env.MSRV }}
    - name: Check with MSRV
      run: cargo check
    - name: Setup Rust toolchain (latest)
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        components: clippy, rustfmt
    - name: Build & Clippy
      run: cargo clippy
    - name: Check Format
      run: cargo fmt --all -- --check
